div {
    border-width: 5px;
    border-style: solid; 
padding: 30px;
}

.container {
    border-color: blue;
}

.row {
 border-color: red;   
}
.col-xs-2 {
    border-color: brown;
}

body{
    background-image: url(http://38.media.tumblr.com/tumblr_mdgfpehkYN1r8cvzdo1_500.gif)
}